# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Next.js
.next/
out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Project Specific
assets/sheets/*.pdf
assets/sheets/*.json
!assets/sheets/Elara Menrva-DnD.json
api/generate_elara_pdf.js
assets/templates/elara-test.html
